:root {
  --dark: #120d28;
  --light: #e9e6f7;
  --primary: #ffffff;
  --accent: #ff6524;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #120d28;
  cursor: crosshair;
  font-family: "Rubik", sans-serif;
}
#logo {
  fill: var(--light);
  aspect-ratio: 3, 1;
  width: 30%;
  height: 10%;
  text-shadow: 0 0px 15px rgba(255, 255, 255, 0.25),
    0 0px 32px rgba(255, 255, 255, 0.1);
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.header {
  position: absolute;
  top: 45%;
  z-index: 1030;
  color: #dddddd;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.cms {
  font-size: 42px;
  font-weight: 500;
  font-family: "Anton", sans-serif;
}
h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.05em;
  letter-spacing: 0.15em;
  margin-bottom: 0;
  padding-bottom: 0;
  text-shadow: 0 0px 15px rgba(255, 255, 255, 0.25),
    0 0px 32px rgba(255, 255, 255, 0.1);
}

.next {
  width: 100%;
  /* height: 100vh; */
}

.floater {
  animation-name: floating;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @keyframes floating {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 15px);
    }
  }
}

@media screen and (max-width: 768px) {
  .cms {
    font-size: 32px;
  }
  h2 {
    font-size: 2em;
  }
}
